@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('../public/Home - BG.png');
    background-size: cover;
    color: #FFFFFF;
}



.overflow-x-clip {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;700&display=swap');

.textInfo {
    font-family: 'Urbanist', sans-serif;
}

.textTitle {
    font-family: 'Urbanist', sans-serif;
}

.App {
    width: 100%;
}

.circle-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-icon span {
    font-size: 14px;
    color: #FFFFFF;

}